force-app/main/default/flows/Reminder_on_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>IsNonRecurrentTaskDecision</name>
        <label>IsNonRecurrentTaskDecision</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNonRecurrentTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsRecurrence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReimderOnTasks</targetReference>
            </connector>
            <label>IsNonRecurrentTask</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FiveDaysFromToday</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 5</expression>
    </formulas>
    <formulas>
        <name>SetReminderDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.ActivityDate}-5)+ (2.5/24)</expression>
    </formulas>
    <interviewLabel>Reminder on Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reminder on Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>SetReimderOnTasks</name>
        <label>SetReimderOnTasks</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>FiveDaysFromToday</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>SetReminderDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsNonRecurrentTaskDecision</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
